h1 {
     font-family: 'Dosis', sans-serif;
    font-size: 4em;
    margin-left: 4.1vw;
     
    
}

.title {
 grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.exit {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
    

body {
    background-image: url(images/background.png);
    overflow-x: hidden;
}

img{
    width: 66px;
    position: fixed;
    right: 2.5em;
    top: 3em;
}

header {
width: 100vw;
    height: 30vh;
   
}

nav {
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}

.nav-menu ul li {
    padding: 15px 20px;
    color: white;
    font-size: 2em;
     font-family: 'Dosis', sans-serif;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}


.line {
    width: 100vw;
    height: 1vh;
    background-color: black;
    margin-top: -30px;
}


a:link {
    text-decoration: none;
    color: black;
}

a:link:hover {
    text-decoration: none;
    color: #c74a14;
}

a:visited {
    color: black;
}


@media only screen and (max-width: 473px) {
header {
width: 100vw;
    height: 30vh;
    margin-right: 1vw;
   
}
    
}